#header{
    display: table;
    margin:0;
    padding: 0;
    float: right;    
}

#nav-list{
    display: inline-block;
    list-style-type: none;
    margin:0;
    height: 40px;
}

.nav-el{
    display: inline-block;
}

.nav-link{
    font-size: 12px;
    text-decoration: none;
}

.nav-link:hover{
    text-decoration: underline;
}

#app-icon-button:hover{
    background-color: rgba(243, 237, 229, 0.658);
}

#app-icon-button{
    border-radius: 50%;
    border:none;
    background-color: white;
    height: 40px;
    cursor: pointer;
}